<template>
  <section>
    <div>
 <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Orders</h1>
      </div>
 </main>
    </div>
  </section>
</template>
<script>
export default {
data(){
  return{
  }
},
// methods:{
//   action(){
//     this.$axios.$patch("/api/products",{data:this.test}).then((response)=>{
//       this.data=response
//     })
//   }
//}
}
</script>