<template>
  <div class="container">
      <div class="form-group">
    <input v-model="username" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter User Name">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input v-model="password" type="password" class="form-control" id="exampleInputPassword1" placeholder="Password"></div>
  <div>
  <button type="submit" class="btn btn-primary"  @click="submit">Login</button>
</div>

  </div>
</template>
<script>
export default {
  data(){
    return{
      username:null,
      password:null,
    }
  },
  methods:{
    submit(){
   this.$axios.$post("/api/login",{'username':this.username,'password':this.password}).then((response)=>{

       this.$toast.success("Login Sucess",{duration:2000})
       this.$router.push('/')


   }).catch((err)=>{
     this.$toast.error("Invalid username or password",{duration:2000})
   })
    }
  }

}
</script>
