<template>
<div>
  <button class="btn btn-primary btn1" >Add Produts</button>
  <div>
    <div class="form-group mb-2">
    <label for="staticEmail2" class="sr-only">Email</label>
    <input type="text" readonly class="form-control-plaintext" id="staticEmail2" value="email@example.com">
  </div>
  <div class="form-group mx-sm-3 mb-2">
    <label for="inputPassword2" class="sr-only">Password</label>
    <input type="password" class="form-control" id="inputPassword2" placeholder="Password">
  </div>
  <button type="submit" class="btn btn-primary mb-2">Confirm identity</button>
</div>
  <table class="table table-hover">
<tr>
  <th>Name</th>
  <th>Price</th>
  <th>Type</th>
  <th>Edit</th>
  <th>Delete</th>
</tr>

<tr v-for="value in data" :key="value._id">
<th>{{value.name}}</th>
<th>{{value.price}}</th>
<th>{{value.type}}</th>
<th><button class="btn btn-secondary">Edit</button></th>
<th><button class="btn btn-danger">Delete</button></th>
</tr>

</table>
  </div>
</template>
<script>
export default {
    data() {
      return {
        data: false
      }
    },
    created() {
      this.$axios.$get("/api/products").then((response) => {
        this.data = response.docs
      })
    }
}
</script>
<style scoped>
.btn1{
  margin-bottom: 10px
}
</style>
