<template>

    <div class="col-sm-3">
        <nuxt-link :to="'/'+id">
      <div class="col-item">
        <div class="photo">
           <img :src="'/'+image" class="img-responsive" :alt="image" />
        </div>
        <div class="info">
          <div class="row">
            <div class="price col-md-6">
              <h5>
                 {{title}}</h5>
              <h5 class="price-text-color">
                {{price}}</h5>
            </div>
          </div>
          <div class="separator clear-left">
            <p class="btn-add">
              <i class="fa fa-shopping-cart"></i><a href="#" class="hidden-sm">Add to cart</a></p>
            <p class="btn-details">
              <i class="fa fa-list"></i><a href="#" class="hidden-sm">More details</a></p>
          </div>
          <div class="clearfix">
          </div>
        </div>
      </div>
        </nuxt-link>
    </div>

</template>
<script>
  export default {
    name: "product",
    props: {
      id: {
        type: String,
        required: true
      },
      title: {
        type: String,
        required: true
      },
      description: {
        type: String,
        required: true
      },
      image: {
        type: String,
        required: true
      },
      price: {
        type: Number,
        required: true
      },
      catagory: {
        type: Array,
        required: false
      }
    }
  }

</script>
<style scoped>
  .col-item {
    border: 1px solid #E1E1E1;
    border-radius: 5px;
    background: #FFF;
  }

  .col-item .photo img {
    margin: 0 auto;
    width: 100%;
  }

  .col-item .info {
    padding: 10px;
    border-radius: 0 0 5px 5px;
    margin-top: 1px;
  }

  .col-item:hover .info {
    background-color: #F5F5DC;
  }

  .col-item .price {
    /*width: 50%;*/
    float: left;
    margin-top: 5px;
  }

  .col-item .price h5 {
    line-height: 20px;
    margin: 0;
  }

  .price-text-color {
    color: #219FD1;
  }

  .col-item .info .rating {
    color: #777;
  }

  .col-item .rating {
    /*width: 50%;*/
    float: left;
    font-size: 17px;
    text-align: right;
    line-height: 52px;
    margin-bottom: 10px;
    height: 52px;
  }

  .col-item .separator {
    border-top: 1px solid #E1E1E1;
  }

  .clear-left {
    clear: left;
  }

  .col-item .separator p {
    line-height: 20px;
    margin-bottom: 0;
    margin-top: 10px;
    text-align: center;
  }

  .col-item .separator p i {
    margin-right: 5px;
  }

  .col-item .btn-add {
    width: 50%;
    float: left;
  }

  .col-item .btn-add {
    border-right: 1px solid #E1E1E1;
  }

  .col-item .btn-details {
    width: 50%;
    float: left;
    padding-left: 10px;
  }

  .controls {
    margin-top: 20px;
  }

  [data-slide="prev"] {
    margin-right: 10px;
  }

</style>
