<template >
<div>
  <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-dark border-bottom shadow-sm" >

  <h5 class="my-0 mr-md-auto font-weight-normal" > <nuxt-link to="/">{{data['sitename']}}</nuxt-link></h5>
  <nav class="my-2 my-md-0 mr-md-3">
    <nuxt-link class="p-2 text-white" to="/">Home</nuxt-link>
    <nuxt-link class="p-2 text-white" to="/products">Products</nuxt-link>
    <nuxt-link class="p-2 text-white" to="/cart">Cart</nuxt-link>
    <nuxt-link class="p-2 text-white" to="/contact-us">Contact us</nuxt-link>

  </nav>
</div >
</div>
</template>
<script>
import init from '@/init.json'
export default {
  data(){
    return{
     data:init
    }
  }}
</script>
