<template>
<div class="overflow-auto">
  <div class="mt-3">
      <h6>Small</h6>
      <b-pagination size="sm" :total-rows="data.totalDocs" v-model="currentPage" :per-page="10" />
    </div>
</div>
</template>
<script>
export default {
    name:"paginate",
    data(){
      return{
        currentPage:0
      }
    },
    props:{
    data:{
        requred:true
      }
    },
    methods:{
work(val){
  console.log(val);
  
}
    }
}
</script>
