<template>
  <section class="container">
    <div>
      <div class="jumbotron">
          <div class="carousel-inner">
                <div class="item active">
                  <div class="row" :v-if="data">
  <posts v-for="value in data" :key="value._id" :id="value.url" :image="value.imageurl" :title="value.name"
              :description="value.description" :price="value.price"></posts>
              </div>
                </div>
          </div>
<paginate :data="paginator"></paginate>
      </div>
      </div>
  </section>
</template>
<script>
  import Posts from '@/components/page/Posts'
  import paginate from '@/components/pagination'
export default {
  data(){
    return{
      data:false,
      paginator:false
    }
  }, 
  components: {
      Posts: Posts,
      paginate:paginate
    },
  created(){
    this.$axios.$get("/api/products").then((response)=>{
      this.data=response.docs
      this.paginator=response
    })
  }
}
</script>
