@import url(https://use.fontawesome.com/releases/v5.7.2/css/all.css);

html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.container {
  max-width: 960px;
}

.pricing-header {
  max-width: 700px;
}

.card-deck .card {
  min-width: 220px;
}
a:hover,a:active{
text-decoration: none;
color: black
}
a{
  color:lightgray
}
