<template>
<div>


<div :v-if="data">{{data}} </div>

</div>
</template>
<script>
export default {
data(){
return{
  data:false
}
},

created(){
      this.$axios.$get("/api/product/"+this.$route.params.id).then((response)=>{
      this.data=response
    })
}

}
</script>
