<template>
  <div class="container">
      <div class="form-group">
        <h4 class=" alert alert-primary">Please be careful when setting username and password after submitting this form this route will be disabled</h4>
    <label for="exampleInputEmail1">User Name</label>
    <input v-model="username" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter User Name">
    <small id="emailHelp" class="form-text text-muted">Enter a user name you can remember</small>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input v-model="password" type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
  </div>
    <div class="form-group">
    <label for="exampleInputPassword1">Conform Password</label>
    <input v-model="conform" type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
  </div>
  <div v-if="username && password">
  <button type="submit" class="btn btn-primary" v-if="username.length >3 && password.length >5 && password===conform" @click="submit">Submit</button>
  <div class="alert alert-secondary" role="alert">
</div>
</div>

  </div>
</template>
<script>
export default {
  data(){
    return{
      username:null,
      password:null,
      conform:null,
    }
  },
  methods:{
    submit(){
   this.$axios.$post("/api/init",{'username':this.username,'password':this.password})
    }
  }

}
</script>
